.App {
  text-align: center;
}
#todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.todoStatus {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul.todoStatus li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
ul.todoStatus li.active {
  background: #e0e0e0;
}
.todoTasks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}
ul.todos li {
  margin-bottom: 10px;
}
