.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
.container {
  display: flex;
  height: 85vh;
  border: 1px solid grey;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
}
